h1{
    background-color: black;
    color: red;
    font-size: 50px;
    padding: 10px;
    width: 100%;
}

header{
    .navbar{
        background-color: black;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        margin: 10px;
        a{
            text-decoration: none;
            background-color: black;
            color: white
        }
    }
    h2{
        font-size: 40px;
        background-color: lightblue;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .tercero{
        color: blueviolet;
        font-size: 30px;
        padding: 10px;
    }
}

main{
    p{
        color: rgb(185, 3, 3);
        font-size: 30px;
        padding: 30px;
    }
    .grid-galeria{
        color: white;
        background-color: black;
        display: grid;
        grid-template-rows: repeat(12, 550px);
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
        text-align: center;
        .lista-grid{
            h2{
                font-size: 40px;
                background-color: lightblue;
                color: rgb(255, 255, 255);
                text-align: center;
                img{
                    width: 70%;
                    height: 90%;
                }
            }
        }
    }
}

.lanza{
    background-image: url(../img/img/mariobrosswallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        font-size: 40px;
        background-color: lightblue;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    h4{
        text-align: center;
        background-color: black;
        color: white;
        font-size: 40px;
        a{
            text-decoration: none;
            background-color: black;
            color: white
        }
    }
    p{
        color: rgb(185, 3, 3);
        font-size: 30px;
        padding: 30px;
    }
}

.noticias{
    background-image: url(../img/img/assasincreedwallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .galeria-de-noticias{
        display: grid;
        grid-template-columns: repeat(2,500px);
        grid-template-rows: repeat(2,200px);
        .news{
            font-family: 'Times New Roman', Times, serif;
            padding: 10px;
            text-decoration: underline black;
            h3{
                color: rgb(0, 0, 0);
                font-size: 30px;
                a{
                    text-decoration: none;
                    background-color: black;
                    color: white
                }
            }
        }
    }
}

.tutoriales{
    background-image: url(../img/img/sonicwallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .guias{
        h3{
            color: rgb(0, 0, 0);
            font-size: 30px;
            a{
                text-decoration: none;
                background-color: rgb(20, 38, 196);
            }
        }
        p{
            color: rgb(248, 248, 248);
        }
    }
}

main{
    .preguntas-item{
        color: black;
        text-decoration: underline;
        text-align: center;
        .preguntas{
            background-color: black;
            color: white;
            font-size: 30px;
        }
    }
}

footer{
    div .redes-sociales{
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        h3{
            color: rgb(0, 0, 0);
            font-size: 30px;
        }
        .navbar{
            background-color: black;
            font-size: 20px;
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
            margin: 10px;
            a{
                text-decoration: none;
                background-color: black;
                color: white
                img{
                    color: white;
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    span{ 
        font-size: 20px;
    }
}

@media (max-width: 559px) {
.navbar {
    flex-direction: column;
}
.grid-galeria {
    grid-template-columns: 1fr;
}
} 